[submodule "themes/hugo-serif-theme"]
	path = themes/hugo-serif-theme
	url = https://github.com/zerostaticthemes/hugo-serif-theme
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
