{{ $icon_size := "32px" }}
<a href="https://twitter.com/DataWave_VESRI" target="_blank" class="twitter ananke-social-link link-transition stackoverflow link dib z-999 pt3 pt0-l mr1" title="Twitter link" rel="noopener" aria-label="follow on Twitter——Opens in a new window">
  {{ partial "svg/twitter.svg" (dict "size" $icon_size) }}
  {{- partial "new-window-icon.html" . -}}
</a>
<a href="https://github.com/DataWaveProject" target="_blank" class="link-transition github link dib z-999 pt3 pt0-l mr1" title="Github link" rel="noopener" aria-label="follow on Github——Opens in a new window">
  {{ partial "svg/github.svg" (dict "size" $icon_size) }}
  {{- partial "new-window-icon.html" . -}}
</a>
