<style>
  .column {
    float: left;
    /* width: 25%; */
    margin-bottom: 16px;
    padding: 0 8px;
  }

  .bio {
    line-height: 0.5;
    font-size: .8em;
    text-align: left;
  }
  /* Display the columns below each other instead of side by side on small screens */

  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }

  /* Some left and right padding inside the container */
  .container {
    padding: 0px 16px 0px;
  }

  .card:hover {
    transition: -webkit-box-shadow 0.2s ease-in-out;
    -webkit-box-shadow: 0px 3px 31px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 31px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 31px -6px rgba(0,0,0,0.75);

  }

  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: block;
    float: none;
    height: 40%;
  }

  .title {
    color: grey;
    margin-bottom: .1em;
    margin-top: .1em;
    font-size: .8em;
    line-height: 1.3;
  }

  .name {
    margin-bottom: .3em;
    margin-top: .7em;
    line-height: 1;
  }

  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 4px;
    padding-top: 20px;
    padding-bottom: 6px;
    margin: 0px;
    color: black;
    background-color: rgba(135,206,250,.3);
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-size: 2vh;
    border-radius: 0 0 8px 8px;
  }

  .buttontopper
  {
    background-color: #f4f4f4;
    /* background-color: rgba(135,206,250,.3); */
    width: 100%;
    height:20px;
    padding-bottom:20px;
    padding-top:0;
    transform: skewY(-3deg);
    transform-origin: bottom right;
    text-align: center;

  }

  .button:hover {
    transition: -webkit-box-shadow 0.2s ease-in-out;
    -webkit-box-shadow: 0px 3px 31px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 31px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 20px 31px -6px rgba(0,0,0,0.75);
    background-color: rgba(135,206,250);
  }


  .propic {
    border-radius: 8px 8px 0 0;
  }

</style>

  <div class="column">
    <div class="card">
      <img class = "propic" src="{{.Get `imgpath` }}" alt="Image Missing">
      <div class="container">
        <h3 class="name"> {{.Get "name"}}</h3>
        <h5 class="title">{{.Get "title"}} <br> {{.Get "role"}}</h5>
        <p style="line-height: 1.1; font-size: .9em " class="bio">{{.Get "workdesc"}}      </p>
        <!-- <p><button class="button">Contact</button></p> -->

      </div>
        <div class = "buttontopper"> </div>
        <a href="{{.Get "website"}}" class="button">{{.Get "institute"}}</a>


    </div>
  </div>
