<style>
  .column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

  /* Display the columns below each other instead of side by side on small screens */

  @media screen and (max-width: 1100px) and (min-width: 750px) {
    .column {
      width: 33%;
      display: block;
    }
  }

  @media screen and (min-width: 551px) and (max-width: 750px){
    .column {
      width: 50%;
      display: block;
    }
  }

  @media screen and (max-width: 550px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }

  .container:hover {

  }

  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: block;
    float: none;
  }

  .title {
    color: grey;
  }

  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    margin: 4px;
    color: black;
    background-color: #777;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 2vh;
  }

  .button:hover {
    background-color: black;
  }

</style>

  <div class="column">
    <div class="card">
      <img src="{{.Get `imgpath` }}" alt="Jane" style="width:100%;">
      <div class="container">
        <h3>{{.Get "name"}}</h3>
        <h5 class="title">{{.Get "title"}} <br> {{.Get "role"}}</h5>
        <p style="font-size: 2vh">{{.Get "workdesc"}}</p>
        <a href="{{.Get "website"}}" class="button">{{.Get "institute"}}</a>
        <!-- <p><button class="button">Contact</button></p> -->
      </div>
    </div>
  </div>
